name: Run PowerShell script on commit
on:
    push:
        branches:
            - main
jobs:
    Run-Pester-Tests:
        runs-on: windows-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Install PSFramework
              shell: pwsh
              run: |
                Install-Module -Name PSFramework -Force -Confirm:$false
            - name: Run Pester tests
              shell: pwsh
              run: |
                ./tests/pester.ps1