name: Run PowerShell script on commit
on:
    push:
        branches:
            - main
jobs:
    Run-Pester-Tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Run Pester tests
              shell: pwsh
              run: ./tests/pester.ps1
